body{
    background-image: url(./img/img\ 2.jpeg);
    background-size: cover;
    background-position: center;
    font-family: 'Marmelad', sans-serif;
    color: #01ab97;
}

.progress{
    margin: 250px auto;
}

.progress img{
    width: 80px;
    margin-bottom: 20px;
}

ul{
    text-align: center;
}

ul li{
    display: inline-block;
    width: 200px;
    position: relative;
}

ul li .fa{
    background: #ccc;
    width: 16px;
    height: 16px;
    color: #01ab97;
    border-radius: 50%;
    padding: 4px;
}

ul li .fa::after{
    content: '';
    background: #ccc;
    height: 5px;
    width: 205px;
    display: block;
    position: absolute;
    left: 0;
    top: 113px;
    z-index: -1;
}

ul li:nth-child(3) .fa{
    background: #148e14;
    color: #fff;
}

ul li:nth-child(3) .fa::after{
    background: #148e14;
    /* color: #fff; */
}

ul li:nth-child(1) .fa,
ul li:nth-child(2) .fa{
    background: #60aa97;
    color: #fff;
}

ul li:nth-child(1) .fa::after,
ul li:nth-child(2) .fa::after{
    background: #60aa97;
    /* color: #fff; */
}

ul li:first-child .fa::after{
    width: 105px;
    left: 100px;
}

ul li:last-child .fa::after{
    width: 105px;
}











































































































